@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #012E7C;
  --color-secondary: #14B8A6;
  --color-accent: #00DEB6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}


/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #6b5ecc34;  */
  background: #f6f6f6;
  border-radius: 10px;
}


.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ant-layout-sider-trigger {
  background: var(--color-primary) !important;
}

.ant-menu-item-selected {
  border-right: 4px solid var(--color-primary);
}

.ant-menu-item {
  border-radius: 0 !important;
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: var(--color-primary);
}

/* Jodit editor custom styles */
.jodit-container {
  border-radius: 6px !important;
}

.jodit-toolbar {
  border-radius: 6px 6px 0 0 !important;
}

.jodit-workplace {
  border-radius: 0 0 6px 6px !important;
}

.active {
  color: white;
}


/* --------------- Swiper Pagination Styles --------------- */
.swiper-pagination-bullet {
  background-color: #d1d5db;
  /* gray-300 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #f5a623;
}